# {{ title }}

The [{{ dataset_name }}]({{ metadata_link }}) data set is created from the [Eurostat data]({{ eurostat_link }}). 

The Eurostat dataset was geoprocessed to rasterize and process the `dataset`.

The dataset can be easily integrated and visualized. For that the Python library `xarray` is used.

In [ ]:
import xarray as xr

The `dataset` is defined.

In [ ]:
dataset = "s3://eurostat/{{ dataset_zarr }}"

Then the data is read and the general dataset information is shown.

In [ ]:

ds = xr.open_dataset(
    dataset,
    engine="zarr",
    chunks={}
)

ds

Investigate the available date variables.

In [ ]:
for var in ds.data_vars:
    if var != "spatial_ref":
        print(f"name: {var}\ndescription: {ds[var].description}\nunit: {ds[var].unit}\n")

One of the available data variabels is selected.
`{{ dataset_var[0] }}` and `{{ dataset_var[1] }}` describes {{ dataset_var_desc }}.

In [ ]:
selected_data = {{ dataset_var }}

Define desired events and locations to visualize the selected data variable.

In [ ]:
events = {
    "italy-rome": {
        "area": {"lat": slice(34, 48), "lon": slice(5, 20)},
        "location": {"lat": 41.89, "lon": 12.51, "method": "nearest"},
        "time": ["2010-01-01"],
    },
    "spain-madrid": {
        "area": {"lat": slice(35, 44), "lon": slice(-10, 5)},
        "location": {"lat": 40.42, "lon": -3.71, "method": "nearest"},
        "time": ["2010-01-01"],
    },
    "albania-tirana": {
        "area": {"lat": slice(39, 43), "lon": slice(19, 21)},
        "location": {"lat": 41.33, "lon": 19.82, "method": "nearest"},
        "time": ["2010-01-01"],
    },
    "france-lyon": {
        "area": {"lat": slice(41, 51), "lon": slice(-5, 10)},
        "location": {"lat": 45.76, "lon": 4.83, "method": "nearest"},
        "time": ["2010-01-01"],
    },
}

Select one of the defined events.

In [ ]:
selected_event = "italy-rome"

area = events[selected_event]["area"]
location = events[selected_event]["location"]
time = events[selected_event]["time"]

Visualize the first set time (`time[0]`) of the selected dataset. The plot is a map for one point in time.

In [ ]:
_ = ds[selected_data[0]].sel(time=[time[0]]).plot()

In [ ]:
_ = ds[selected_data[1]].sel(time=[time[0]]).plot()

Specifing the time and narrowing down the selected area.

In [ ]:
ds_event_0 = ds[selected_data[0]].sel(**area).sel(time=time)
ds_event_0

In [ ]:
ds_event_1 = ds[selected_data[1]].sel(**area).sel(time=time)
ds_event_1

Visualize the event snippet of the dataset. The plot is a map for one point in time.

In [ ]:
_ = ds_event_0.sel(time=[time[0]]).plot()

In [ ]:
_ = ds_event_1.sel(time=[time[0]]).plot()

The dataset can also be plotted as a time series for one selected location.

In [ ]:
_ = ds.sel(**location)[selected_data[0]].plot()

In [ ]:
_ = ds.sel(**location)[selected_data[1]].plot()