First, let's import all the necessary dependencies.

In [ ]:
import display
import matplotlib.pyplot as plt
import xarray as xr

Let's define some configuration variables.

In [ ]:
AREA = {"latitude": slice(55, 47), "longitude": slice(5, 16)}
DATASET = "s3://ecmwf-era5-single-levels/reanalysis-era5-single-levels.zarr"
LOCATION = {"latitude": 52.5, "longitude": 13.4}
REFERENCE_PERIOD = slice("1981", "2010")
MONTH = "2023-10"

In the following lines we:
- establish a connection with the remote dataset
- show its metadata

It is worth noticing that, in the first operation, only the information necessary to gather the dataset's metadata (e.g. its sizes, dimensions, variables' type and attributes) is actually downloaded from its remote location to the local machine.

In [ ]:
ds = xr.open_dataset(DATASET, chunks={}, engine="zarr").astype("float32")
ds

Here we want to compute the average October 2023 temperature on an area comprising the entire territory of Germany. 

Note that the operations prescribed in the following lines are actually performed, and the resulting data downloaded, only when the `.compute()` method is met. For this reason, as a general rule to maximize efficiency, the `compute()` method should be placed after an operation which significantly reduce the amount of data, such as after selection and reduction operations.

In [ ]:
t2m = ds.t2m - 273.15
t2m.attrs["units"] = "C"
t2m_area = t2m.sel(**AREA)
t2m_area_month = t2m_area.sel(valid_time="2023-10")
t2m_area_month_mean = t2m_area_month.mean(dim="valid_time")
t2m_area_month_mean

In [ ]:
%%time
%%capture

t2m_area_month_mean = t2m_area_month_mean.compute()

Let's plot the result on a map.

In [ ]:
display.map(t2m_area_month_mean, vmax=None, cmap="YlOrRd", title="Mean Surface Temperature, Oct 2023")

Now, we want to compute the average October 2023 temperature anomaly on an area comprising the entire territory of Germany. 

The same considerations done before apply here.

In [ ]:
t2m = ds.t2m - 273.15
t2m.attrs["units"] = "C"
t2m_area = t2m.sel(**AREA)
t2m_month = t2m_area.sel(valid_time=t2m_area["valid_time.month"] == 10)

In [ ]:
%%time

t2m_month = t2m_month.compute()
t2m_month_ref_mean = t2m_month.sel(valid_time=REFERENCE_PERIOD).mean(dim="valid_time")
t2m_month_year = t2m_area.sel(valid_time="2023-10")
t2m_month_year_mean = t2m_month_year.mean(dim="valid_time").compute()
t2m_month_year_anomaly = (t2m_month_year_mean - t2m_month_ref_mean)

Let's plot the results on a map.

In [ ]:
display.map(
    t2m_month_year_anomaly, 
    vmax=None, 
    cmap="YlOrRd", 
    title="Mean Surface Temperature anomaly (ref 1981-2010), Oct 2013"
)

Finally, we want to compute 2-metre Temperature climatology (mean and standard deviation for each month of the year) over the time range 1981-2010 in Berlin, and compare it with 2023 monthly means.

The same considerations done before apply here.

In [ ]:
t2m =  ds.t2m
t2m_loc = t2m.sel(**LOCATION, method="nearest")
t2m_loc

In [ ]:
%%time

t2m_loc = t2m_loc.compute()
t2m_climatology_mean = t2m_loc.sel(valid_time=REFERENCE_PERIOD).groupby("valid_time.month").mean(dim="valid_time")
t2m_climatology_std = t2m_loc.sel(valid_time=REFERENCE_PERIOD).groupby("valid_time.month").std(dim="valid_time")
t2m_monthly_mean = t2m_loc.sel(valid_time="2023").resample(valid_time="1M").mean(dim="valid_time")

Let's plot the results.

In [ ]:
plt.figure(figsize=(10, 5))
t2m_climatology_mean.plot(label="Mean", color="#3498db")
plt.errorbar(
    t2m_climatology_mean.month, 
    t2m_climatology_mean, 
    yerr=t2m_climatology_std, 
    fmt="o", 
    label="Standard Deviation",
    color="#a9a9a9"
)
for month in range (1, 11):
    t2m_point = t2m_monthly_mean.sel(valid_time=t2m_monthly_mean["valid_time.month"]==month)
    label = None
    if month == 1:
        label = "2023"
    plt.scatter(month, t2m_point, color="#ff6600", label=label)
plt.title("Surface Temperature climatology in Berlin (DE), 1981-2010")
plt.xticks(t2m_climatology_mean.month)
plt.xlabel("Month")
plt.ylabel("Surface Temperature [C]")
plt.legend()
plt.grid(alpha=0.3)
plt.show()